<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-shoe-prints"></i> {{ appName | default('Zapatillas') }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <i class="bi bi-house-door"></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/v1/zapatillas">
                        <i class="bi bi-list-ul"></i> API
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/h2-console" target="_blank">
                        <i class="bi bi-database"></i> H2 Console
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/swagger-ui.html">
                        <i class="bi bi-file-code"></i> Swagger
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
